/* GameDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  select {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 40px;
    font-size: 1rem;
    padding: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid green;
    padding: 10px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 